<footer class="footer">
  <small>
    ～わらともの輪～
  </small>
  <nav>
    <ul>
      <li><%= link_to "お笑いどんとは",   about_path %></li>
      <li><%= link_to "お問い合わせ", contact_path %></li>
      <li><%= link_to "お知らせ", news_path %></li>
    </ul>
  </nav>
</footer>