<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "お笑いどん", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "トップ",   root_path %></li>
        <li><%= link_to "お笑いどんとは",   about_path %></li>
        <li><%= link_to "新規登録", '#' %></li>
      </ul>
    </nav>
  </div>
</header>